<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/bootstrap.min.css">  
  <link rel="stylesheet" href="./css/navbar-fixed-sides.css">  
  <link rel="stylesheet" href="./css/thithien.css">
  <link rel="stylesheet" href="./css/font-awesome.min.css">
  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/thithien.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
  <script src="./js/banners.js"></script>
  <script src="./js/category.js"></script>
</head>
<body ng-app="TTApp" ng-controller="TTCtrl">
<!-- navbar -->
<div class="navbar-tt clearfix" id="navbar-tt">
  <nav class="navbar navbar-tt navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- menu mobile -->
        <div class="visible-xs text-right">
          <div class="navbar-dropdown-mobile">
            <a onclick="openNav();" href="javascript:void(0)">
            <span class="fa fa-bars fa-2x"></span></a>            
          </div>  
          <span class="logo-w">
            <a href="/">              
              <img src="./images/logo.png" width="140" height="30" alt="Bao mua ban rao vat" title="Báo mua bán rao vặt" />
            </a>
          </span>
          <span class="top-search-mobile">
                <a href="/tim-kiem-di-dong"><i class="fa fa-search fa-2x"></i></a>
          </span>          
        </div>
        <!-- end menu mobile -->
        <div class="logo-tt">
          <a class="logo hidden-xs" href="/">
            <h1><img src="./images/logo.pnga" alt="Bao mua ban rao vat" title="Báo mua bán rao vặt" width="190" height="43" /></h1>
          </a>
          <a href="https://muaban.net/app?source=mbn-banner-top" class="banner-top-qc visible-lg">
              <img src="./images/banner/top.gif" />
          </a>          
        </div>        
      </div>
      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li class="active"><a href="#">Dang Nhap</a></li>
        <li class="dropdown navbar-dropdown-right">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="fa fa-bars fa-2x"></span></a>
          <ul class="dropdown-menu dropdown-menu-tt " style="left:0px;top:45px">
            <li ng-repeat="item in danhmuc"><a href="#">{{item.name}}</a></li>
          </ul>
        </li>
        <li>
          <a href="/dang-tin"><span class="nav-post-news text"><i class="fa fa-newspaper-o" style="color:#ffffff;"></i>&nbsp;ĐĂNG TIN MIỄN PHÍ</span></a>
        </li> 
      </ul>
    </div>
  </nav>
</div>  
<!-- end header decktop -->
<!-- start header mobile -->
<div id="slidemenumobile" class="visible-sm visible-xs">
  <ul class="nav navbar-nav navbar-right">
    <li class="col-sm-12 col-xm-12 menu-home">
        <a href="/">
            <i class="fa fa-home"></i> Trang chủ
        </a>
    </li>
    <li class="col-sm-12 col-xm-12 menu-home">
        <a href="/tim-kiem-di-dong">
            <i class="fa fa-search"></i> Tìm kiếm
        </a>
    </li>
    <li class="col-sm-12 col-xm-12 menu-home">
        <a href="/dang-tin">
            <i class="icon icon-laptop60"></i> Đăng tin miễn phí
        </a>
    </li>

    <li class="col-sm-12 col-xm-12 menu-home">
        <a href="/trang-ca-nhan/MyFavorite">
            <i class="icon icon-common_star_favorite_bookmark_" style="font-size:18px;"></i> Tin yêu thích
        </a>
    </li>
    <li class="menu-line"></li>
    <li class="col-sm-12 col-xm-12">
      <a href="/trang-ca-nhan/SignIn">Đăng nhập</a></li>
    <li class="col-sm-12 col-xm-12">
      <a href="/trang-ca-nhan/SignUp">Đăng ký</a></li>
  </ul>
</div>
<!-- End header mobile -->
<!-- end navbar -->

<!-- Start Body Contentner -->
<div class="main-container">            
  <!-- Start page_content clearfix -->
  <div id="pageContent" class="clearfix">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-left-login">
      <form class="form" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="9O7ldQWK_MKZMCA5wwsAtimWZEgQjv8eY9xeK41c8GU8GXs9w5h3yIbEzz0MsX45fO_cmDVBQ70y-xQt27Bwci31JEw1" />
        <input id="sid" name="sid" type="hidden" value="1769fb039a5045cb9c615b8da2a6c1ab" />
        <input data-val="true" data-val-number="The field mode must be a number." data-val-required="The mode field is required." id="mode" name="mode" type="hidden" value="0" />
        <input id="AppName" name="AppName" type="hidden" value="muabannet" />
        <input id="Services" name="Services" type="hidden" value="mbnv2" />
        <input id="returnUrl" name="returnUrl" type="hidden" value="https://muaban.net/dang-tin" />
        <input id="callbackUrl" name="callbackUrl" type="hidden" value="https://muaban.net/trang-ca-nhan/SignInCallback" />
        <div class="col-md-12 content">
          <div class="button-social button-google" onclick="javascript:goSocial('google')">
              <span class="icon-google-plus fa fa-google-plus fa-2x"></span>
              Đăng ký bằng Google
          </div>
          <div class="button-space"></div>
          <div class="button-social button-facebook" onclick="javascript: goSocial('facebook')">
              <span class="icon-facebook fa fa-facebook-official fa-2x"></span>
              Đăng ký bằng Facebook
          </div>
          <div class="button-space"></div>
          <div class="button-social button-yahoo" onclick="javascript: goSocial('yahoo')">
              <span class="icon-yahoo fa fa-yahoo fa-2x"></span>
              Đăng ký bằng Yahoo
          </div>
          <div class="button-space"></div>
          <div class="divider">
              <hr class="left" />Hoặc Đăng ký bằng Email <hr class="right" />
          </div>
          <div class="form-group">
              <input class="form-control" id="UserName" maxlength="256" name="UserName" placeholder="Email / Điện thoại đăng nhập *" type="text" value="" />
              <span class="field-validation-valid"></span>
              <span class="field-validation-error">Bạn vui lòng nhập thông tin hợp lệ</span>
          </div>
          <div class="form-group">
              <input class="form-control" id="Password" maxlength="51" name="Password" placeholder="Mật khẩu *" type="password" />
              <span class="field-validation-valid"></span>
              <span class="field-validation-error>Bạn vui lòng nhập Mật khẩu</span>
          </div>
          <div class="form-group">
              <input class="form-control" id="ConfirmPassword" maxlength="51" name="ConfirmPassword" placeholder="Mật khẩu *" type="password" />
              <span class="field-validation-valid"></span>
              <span class="field-validation-error" id="Error_FullName">Không trùng khớp, bạn vui lòng nhập Mật khẩu</span>
          </div>          
          <div class="form-group">
                <input class="form-control" id="FullName" maxlength="80" name="FullName" placeholder="Họ và tên" type="text" value="">
                <span class="field-validation-valid"></span>
                <span class="field-validation-error" id="Error_FullName">Bạn vui lòng nhập Họ và tên</span>
          </div>
          <div class="form-group">
            <div style="vertical-align:middle;">
                <input autocomplete="off" class="form-control captcha" id="ConfirmCaptcha" name="ConfirmCaptcha" placeholder="Nhập mã bên phải" style="" type="text" value="">
                <div style="display: inline-block; width: 140px; height:34px; padding-left: 10px;">
                    <input type="hidden" id="Captcha" name="Captcha" value="24f973d9-81bd-4541-8ced-ff609a316bb2">
                    <img id="imgCaptcha" src="/captcha.ashx?guid=24f973d9-81bd-4541-8ced-ff609a316bb2&amp;rand=" alt="Captcha" width="100" height="30"> <a href="javascript:void(0);" class="icon-loop2" style="border: none; text-decoration: none;" ng-click="refreshCaptcha()" title="Hiển thị hình khác"></a>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-md-12 row">
                    <span class="field-validation-valid"></span>
                </div>
            </div>
            <span class="field-validation-valid"></span>
            <span class="field-validation-error">Bạn vui lòng nhập Mã bảo mật</span>
          </div>
          <div class="form-group">
              <div class="btn-submit">
                  <div id="errorSummary">                
                  </div>
                  <input type="submit" onclick="clearValidationSum();" value="Đăng ký" class="button" />&nbsp;&nbsp;<a href="javascript:void(0);" onclick="javascript:goForgot();">Quên mật khẩu</a>?
              </div>
          </div>
          <div class="form-group">
              <input checked="checked" id="RememberMe" name="RememberMe" type="checkbox" value="true" />
              <input name="RememberMe" type="hidden" value="false" /> <label for="RememberMe" style="color: #555555; font-weight: normal;">Lưu đăng nhập trên máy này</label>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 col-right-login">
      <h4>Thithien.com - Tạo tài khoản</h4>
      <p>Tạo tài khoản trên Thithien.com để tham gia cộng đồng mua bán hàng đầu.</p>
      <ul>
        <li class="fa fa-check-square-o fa-2x">
          <span>Đăng tin miễn phí</span>
        </li>
        <li class="fa fa-check-square-o fa-2x">
          <span>Hỗ trợ liên tục</span>
        </li>
        <li class="fa fa-check-square-o fa-2x">
          <span>Nổi bật tin đặc biệt</span>
        </li>
        <li class="fa fa-check-square-o fa-2x">
          <span>Mua của người chán, bán cho người cần</span>
        </li>
        <li class="fa fa-check-square-o fa-2x">
          <span>Quảng cáo liên tục và dài hạn</span>
        </li>
      </ul>
    </div>
  
  </div>
</div>


<!-- Start Body bottom -->
<div class="tt-bottom">
  <div class="tt-bottom-contact text-center">
    <div class="container">
      <div class="contact-info col-md-12 col-sm-12 col-xs-12">
        <div class="social-icon">
          <a href="https://www.facebook.com/thithien"><span class="fa fa-facebook fa-x2"></span></a>
          <a href="http://youtube.com/c/thithien"><span class="fa fa-youtube fa-x2"></span></a>
          <a href="https://twitter.com/thithien"><span class="fa  fa-twitter fa-x2"></span></a>
          <div class="clearfix"></div>
        </div>
        <div> <span style="font-weight:bold"> CTY TNHH TM DV THI THIÊN SHALOM</span>. MST: 0313684679. SĐT: 08-xxxxxxxx</div>
        <div><span style="font-weight:bold">10 Lê Quốc Trinh, Phú Thọ Hòa, Tân Phú, Hcm</div>
        <div><span style="font-weight:bold">Giấy phép hoạt động số</span> XX/GXN-TTĐT do Bộ VHTT cấp xx/xx/xxxx.</div>
        <div>thithien.com có trách nhiệm chuyển tải thông tin. Không chịu bất kỳ trách nhiệm nào từ các tin này. <a href="#"> xem chi tiết</a> </div>
      </div>
    </div>
  </div>
</div>
<!-- end body bottom -->

<script>

function openNav() {
    document.getElementById("slidemenumobile").style.width = "250px";
}

function closeNav() {
    document.getElementById("slidemenumobile").style.width = "0";
}
</script>
<script>
    var url = location.href;
    var tmpIndex = url.indexOf("#/");
    if (tmpIndex > 0) {
        url = url.substring(tmpIndex);
        var currentReturnUrl = 'http://thithien.com/dang-tin';
        currentReturnUrl = currentReturnUrl + url;
        $("#returnUrl").val(currentReturnUrl);
    }
    var a = 'thithien'
    r = 'http://thithien.com/dang-tin',
    sid = '1769fb039a5045cb9c615b8da2a6c1ab',
    m = '0'
    s = 'mbnv2'
    c = 'http://thithien/trang-ca-nhan/SignInCallback';

    function goSignup() {
        var url = '/dang-ky';
        gooLocal(url, a, r, sid, m, c, s);
    }
    function goForgot() {
        var url = '/quen-mat-khau';
        gooLocal(url, a, r, sid, m, c, s);
    }
    function goSocial(social) {
        gooSocial(social, a, r, sid, m, c, s);
    }
    function clearValidationSum() {
        var tmp = document.getElementById('errorSummary');
        tmp.style.display = 'none';
    }
</script>

</body>
</html>  